body.sun {
  background-color: #fff;
}

.sun .navbar-inverse {
  background-color: #FFF351;
  border-color: #FFF351;
}

.sun .navbar-inverse .navbar-brand {
  color: #000;
}

.sun th {
  background-color: #A1D46F;
}


body.cloud {
  background-color: #C8E2F4;
}


.cloud .navbar-inverse {
  background-color: #4164D2;
  border-color: #4164D2;
}

.cloud .navbar-inverse .navbar-brand {
  color: #fff;
}

.cloud th {
  background-color: #61A1E9;
}

body.rainy {
  background-color: #ccc;
}

.rainy .navbar-inverse {
  background-color: #222;
  border-color: #080808;
}

.rainy .navbar-inverse .navbar-brand {
  color: #9d9d9d;
}

.rainy th {
  background-color: #000;
}