body {
  padding-top: 50px;
}

#map {
  width: 1000px;
  height: 1000px;
  border: 1px solid #000;
}

#img{
  float: left;
  width: 40%;
  text-align: right;
}

.starter-template {
  padding: 5%;
  text-align: center;
}

#show {
  padding: 2%;
}

#word {
  float: left;
  margin-left: 10%;
}

#station {
  margin-top: 15%;
  text-align: left;
  font-size: 40px;
}

#percentage {
  text-align: right;
  font-size: 60px;
  left: 30%;
}

.pannel-body{
  margin-bottom: 20px;
}

.clear {
  clear: both;
}
