body {
  padding-top: 50px;
}

#map {
  width: 1000px;
  height: 1000px;
  border: 1px solid #000;
}

th {
  text-align: center;
}

#img{
  /*border: 1px solid #000;*/
  float: left;
  width: 40%;
  text-align: right;
}
img {
  width: 200px;
  height: 200px;
}

#show {
  height: 250px;
  position: relative;
  padding: 2%;
  z-index: 2;
}

.starter-template {
  padding: 40px;
  text-align: center;
}

#word {
  float: left;
  margin-left: 10%;
}

#station {
  margin-top: 15%;
  text-align: left;
  font-size: 40px;
}

#percentage {
  text-align: right;
  font-size: 60px;
  left: 30%;
}

.table {
  /*float: clear;*/
  clear: both;
  position: relative;
  z-index: 1;
}